html,
body {
    height: 100%;
    width:100%;
	position:relative;
}

.navbar-inverse {
    background-color: #a50328 !important;
    border-color: #a50328 !important;
    border-radius: 0px !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: #08080800;
}

.navbar-header .navbar-brand {
    display: inline;
    padding-left: 15%;
    background-image: url(../images/logo.png);
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    transition: color 0.2s ease 0.05s;
    color: #ccc;
}

.navbar-brand {
    float: left;
    height: 110%;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

div#map-inovation {
    /*background: #d8d8da;*/
    /*background: #d8d8da33;*/
    min-height: 500px;
    margin-top: -20px;
}

div.widget-subject {
	/*float: left;*/
	border-bottom: 2px solid #000;
    margin-bottom: 2%;
	height: 47px;
    padding-top: 14px;
    color: #a50328;
    text-transform: uppercase;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

div.title > h3 > a {
	font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

div.title > h3 > a:hover {
	font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid;
}

div.title {
	font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

div.title > a {
	font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

div.title > a:hover {
	font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid;
}

div.widget-subject-content {
	margin-bottom : 3%; 
    padding-bottom: 10px;
	border-bottom: 1px dotted #a9a9a9;
}

@media screen and (max-width: 780px){
	.navbar-header .navbar-brand {
	    padding-left: 9%;
	    background-image: url(../images/logo.png);
	    background-size: auto 60%;
	    background-repeat: no-repeat;
	    background-position: 7px 50%;
	    transition: color 0.2s ease 0.05s;
	    color: #ccc;
	}
}

@media screen and (max-width: 1280px){
	div#map-inovation {
	    background: #d8d8da;
	    min-height: 400px;
	    margin-top: -20px;
	}
}

@media screen and (max-width: 1180px){
	div#map-inovation {
	    background: yellow;
	    min-height: 300px;
	    margin-top: -20px;
	}
}

@media screen and (max-width: 980px){
	div#map-inovation {
	    background: blue;
	    min-height: 230px;
	    margin-top: -20px;
	}
}

@media screen and (max-width: 780px){
	div#map-inovation {
	    background: red;
	    min-height: 230px;
	    margin-top: -20px;
	}
}

@media screen and (max-width: 580px){
	div#map-inovation {
	    background: green;
	    min-height: 230px;
	    margin-top: -20px;
	}

	.navbar-header .navbar-brand {
		padding-left: 12%;
	    background-image: url(../images/logo.png);
	    background-size: auto 60%;
	    background-repeat: no-repeat;
	    background-position: 7px 50%;
	    transition: color 0.2s ease 0.05s;
	    color: #ccc;
	    font-size: 14px;
	}
}

footer.layout-footer {
    background: #232323;
    padding: 25px 0 25px 0;
    color: #ccc;
}

footer.page-footer {
	background: #000000;
    font-size: 12px;
    color: #999;
    padding: 20px 0 20px 0;
}

div.title-icon-footer {
	margin-bottom: 4%; 
    font-size: 17px;
    color: #fff;
}

h3.footer-text {
	font-size: 18px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}